* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: white;
    background: rgb(8,78,176);
}
.template {
    display: none;
}
#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: box-shadow .4s;
}
input:focus,
input:hover {
    box-shadow: 0 10px 10px rgba(0,0,0, .5);
}
li {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
li i {
    color: yellow;
    cursor: pointer;
    transition:color .3s linear;
}
li i:hover {
    
    color: red;
}
.completed {
    text-decoration: line-through;
}

